<h1>about</h1>
<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <p>This is my first rails app and I am really excited for the opportunities this will give me in business.</p>
  </div>
</div>

<%= link_to 'Home', root_path %>